<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CSS/style.css">
  
   
</head>
<body>

<!-- HEADER----------------------------------------------------------------------------->
    <header>
        <nav class="navigator">
    
        <div class="logo-text">DOMINIK KOPSIK</div>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="mywork.html">My work</li>
            <li><a href="contactme.html">Contact me</a></li>
            
            
            
        </ul>
        </nav>
      
</header>


<!-- Kategorie-------------------------------------------------------------------------------->

<nav class="categorie">
    <ul>
        <li>
             <a href="#Fotos">FOTOS</a></li>
        <li> <a href="#Fotos">PORTRAIT</a></li>
        <li> <a href="#Fotos">VIDEOS</a></li>
    </ul>
</nav>

<div id="car-pic">

<div>


</div>
<img src="fotos/pic-vw-elektro.jpg" alt=""></a>
<img src="fotos/pic-vw-flag.jpg" alt=""></a>
<img src="fotos/pic-vw-golf-r-salzburgring.jpg" alt=""></a>
<img src="fotos/pic-vw-touran.jpg" alt=""></a>
<img src="fotos/pic-vw-salburgring-2.jpg" alt=""></a>
<img src="fotos/pic-vw-touran.jpg" alt=""></a>
<img src="fotos/pic-vw-golf-r-salzburgring.jpg" alt=""></a>
<img src="fotos/pic-vw-golf-r-salzburgring.jpg" alt=""></a>
</div>

<div>
<img src="fotos/pic-mercedes-amg-gt.jpg" alt=""></a>
<img src="fotos/pic-oldamg.jpg" alt=""></a>
<img src="fotos/pic-s2000.jpg" alt=""></a>
<img src="fotos/pic-toyota-mr2.jpg" alt=""></a>

</div>

<div id="portrait">
   
</div>

<div id="videos">
    <video src="videos/hero.mp4"></video></a>
</div>





<!-- Footer-------------------------------------------------------------------------------->
<footer>
        <a href="#">Impressum</a>
        <a href="#">Kontakt</a>
        <i class="fa-solid fa-location-dot svg-icons"></i>
        <p>Location: Austria</p>
        
</footer>
<script src="JAVASCRIPT/categorie.js"></script>
</body>
</html>